.formular td {

    font-family: arial, sans-serif;
    text-align: center;

}

.formular {
    margin-bottom: 10%;
    width: 50%;
    margin: 0 25%;
    background-color: #efefef;
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: center;
}

table {

    border: 0
}





