.FormUserPanel {

padding-left: 5em;
padding-right: 5em;
 margin-right: auto;
 margin-left: auto;
 max-width: 1000px;
}



.userPanel {
  color: #C23291;
  height: fit-content;
}

#formBtn {

  width: auto;

}


.userPanel {
  color: #C23291;
}

.notDeleted {

  text-align: center;
  color: red;
 
}